</section>

<section id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7 col-xs-12 align-left">
                <ul class="horizontal left">
                    <li><a href="https://www.saplanningportal.sa.gov.au/about_us">About Us</a></li>
                    <li><a href="https://www.saplanningportal.sa.gov.au/contact_us">Contact Us</a></li>
                    <li><a href="https://dpti.sa.gov.au/careers" target="_blank">Careers</a></li>
                    <li><a href="https://www.saplanningportal.sa.gov.au/updates/news_search">News</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-12 align-left">
                <p class="footer-icons">
                    <a href="https://www.facebook.com/DPTISA" target="_blank" aria-label="Facebook" id="fa-facebook" name="fa-facebook"><span class="footer-icon-glyph" aria-hidden="true"><i class="fa fa-facebook" aria-hidden="true"></i></span><span class="sr-only">Facebook</span></a>
                    <a href="https://twitter.com/DPTI_SA" target="_blank" aria-label="Twitter" id="fa-twitter" name="fa-twitter"><span class="footer-icon-glyph" aria-hidden="true"><i class="fa fa-twitter" aria-hidden="true"></i></span><span class="sr-only">Twitter</span></a>
                    <a href="http://www.linkedin.com/company/department-of-planning-transport-and-infrastructure-dpti" target="_blank" aria-label="LinkedIn" id="fa-linkedin" name="fa-linkedin"><span class="footer-icon-glyph" aria-hidden="true"><i class="fa fa-linkedin" aria-hidden="true"></i></span><span class="sr-only">LinkedIn</span></a>
                    <a href="http://www.youtube.com/user/DTEISouthAust" target="_blank" aria-label="YouTube" id="fa-youtube" name="fa-youtube"><span class="footer-icon-glyph" aria-hidden="true"><i class="fa fa-youtube" aria-hidden="true"></i></span><span class="sr-only">Youtube</span></a>
                    <a href="http://www.dpti.sa.gov.au/rss" target="_blank" aria-label="RSS" id="fa-rss" name="fa-rss"><span class="footer-icon-glyph" aria-hidden="true"><i class="fa fa-rss" aria-hidden="true"></i></span><span class="sr-only">RSS</span></a>
                    <a href="/contact_us" target="_self" aria-label="Contact Us" id="fa-envelope" name="fa-envelope"><span class="footer-icon-glyph" aria-hidden="true"><i class="fa fa-envelope" aria-hidden="true"></i></span><span class="sr-only">Email</span></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 logos">
                <div class="row">
                    <div class="col-xs-9 col-sm-6">
                        <a href="http://dpti.sa.gov.au/" target="_blank" title="DPTI - Department of Planning, Transport and Infrastructure South Australia"><img class="img-responsive lozad" data-src="https://www.saplanningportal.sa.gov.au/__data/assets/image/0007/280978/logo_dpti.png" src="https://www.saplanningportal.sa.gov.au/__data/assets/image/0003/513147/giphy.gif" alt="DPTI - Department of Planning, Transport and Infrastructure South Australia"
                            /></a>
                    </div>
                    <div class="col-xs-9 col-sm-3">
                        <a href="http://www.brandsouthaustralia.com.au/" target="_blank" title="Brand South Australia website"><img class="img-responsive lozad" data-src="https://www.saplanningportal.sa.gov.au/__data/assets/image/0006/280977/logo_bsa.png" src="https://www.saplanningportal.sa.gov.au/__data/assets/image/0003/513147/giphy.gif" alt="Brand South Australia"
                            /></a>
                    </div>
                    <div class="col-xs-9 col-sm-3">
                        <a href="http://sa.gov.au/" target="_blank" title="SA Gov website"><img class="img-responsive lozad" data-src="https://www.saplanningportal.sa.gov.au/__data/assets/image/0009/280980/logo_sagovau.png" src="https://www.saplanningportal.sa.gov.au/__data/assets/image/0003/513147/giphy.gif" alt="SA Gov logo"
                            /></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-xs-12">
                <ul class="horizontal">
                    <li><a href="http://dpti.sa.gov.au/freedom_of_information" target="_blank">Freedom of Information</a></li>
                    <li><a href="http://dpti.sa.gov.au/accessibility" target="_blank">Accessibility</a></li>
                    <li><a href="http://dpti.sa.gov.au/security" target="_blank">Security</a></li>
                    <li><a href="http://dpti.sa.gov.au/privacy" target="_blank">Privacy</a></li>
                    <li><a href="http://dpti.sa.gov.au/copyright_statement" target="_blank">Copyright</a></li>
                    <li><a href="http://dpti.sa.gov.au/website_disclaimer" target="_blank">Disclaimer</a></li>
                </ul>
                <p class="creative-commons">This work is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/au/deed.en" target="_blank">Creative Commons Attribution 3.0 Australia Licence</a></p>
            </div>
        </div>
    </div>
</section>
<div id="stop" class="scrollTop">
    <span><a aria-hidden="true" href="#Top"><i class="fa fa-angle-double-up" aria-label="top"></i></a></span>
</div>
<div id="video-modals"></div>
<div class="info" id="newsletter_modal_420467">
    <div class="modal fade in" id="newsletter_subscribe" tabindex="-1" role="dialog" aria-labelledby="NewsletterSubscribe">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong class="modal-title">Subscribe to Newsletters</strong>
                    </div>
                    <div class="modal-body">
                        <div class="col-xs-12" id="subscribe_content">
                            <h4>Subscribe to our newsletters to stay up-to-date with planning and building news across South Australia.</h4>
                            <form id="subscribe-form" action="https://themdigital.createsend.com/t/r/s/kkhjiiu/" method="post">
                                <div class="form-check col-xs-6">
                                    <label class="form-check-label" for="modallistkkhjiiu">
                Planning Ahead
              </label>
                                    <input class="sq-form-field no-bootstrap" type="checkbox" checked id="modallistkkhjiiu" name="cm-ol-kkhjiiu">
                                    <span>News from the planning and development sector about changes to the new and current planning system.</span>
                                </div>
                                <div class="form-check col-xs-6">
                                    <label class="sq-form-field form-check-label" for="modallistiydlaj">
                Building Standard
              </label>
                                    <input class="sq-form-field no-bootstrap" type="checkbox" checked id="modallistiydlaj" name="cm-ol-iydlaj">
                                    <span>News from the building sector about legislative and technical changes, policy initiatives and training.</span>
                                </div>
                                <div class="text-center col-xs-12">
                                    <div class="inputtext">
                                        <label for="modalfieldName" class="control-label">Name</label><abbr class="sq-form-required-field" title="required">*</abbr>

                                        <input id="modalfieldName" name="cm-name" type="text" class="form-control" required /><br>

                                        <label for="modalfieldEmail" class="control-label">Email</label><abbr class="sq-form-required-field" title="required">*</abbr>

                                        <input id="modalfieldEmail" name="cm-kkhjiiu-kkhjiiu" type="email" required class="form-control" />

                                        <div class="col-xs-12 form-group submitaction">
                                            <input type="submit" class="btn btn-primary input-lg" id="modalsubscribe-button" value="Subscribe" />
                                            <br><a href="http://dpti.sa.gov.au/privacy" target="_blank">Privacy Policy</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <style>
        section.top-menu #updates-btn {
            margin: 8px 15px 0 0;
        }
    </style>
</div>




<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script defer src="https://www.saplanningportal.sa.gov.au/__data/assets/js_file_folder/0005/513077/JS_Merged.min.js?v=2.1" type="text/javascript"></script>


<script defer type="text/javascript" src="https://www.saplanningportal.sa.gov.au/__data/assets/js_file_folder/0006/513096/home-page.min.js" data-file="homepage.js"></script>


<script defer src="https://www.saplanningportal.sa.gov.au/__data/assets/js_file_folder/0011/513101/portal-analytics.min.js"></script>
<script defer src="//cdn.monsido.com/tool/javascripts/monsido.js"></script>



<link defer rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">