<header class="container-fluid bg-dark text-light">

    <section id="subnav" class="subnav">
        <div class="container no-gutter">
            <div class="row flex-center">
                <div id="logo" class="col-xs-7 col-sm-4 col-md-5 no-gutter">
                    <div class="flex-center">
                        <a href="//www.saplanningportal.sa.gov.au/" title="SA Planning Portal"><img src="https://www.saplanningportal.sa.gov.au/__data/assets/image/0004/418675/SAPP_icon.png" alt="SA Planning Portal icon" />
                            <span id="logo-title">SA Planning Portal</span></a>
                    </div>
                </div>
                <div class="text-right col-xs-5 col-sm-2 col-md-2 no-gutter">
                    <span><a href="http://dpti.sa.gov.au/" target="_blank" title="DPTI - Department of Planning, Transport and Infrastructure South Australia"><img class="img-responsive dpti-logo" src="https://www.saplanningportal.sa.gov.au/__data/assets/image/0007/280978/logo_dpti.png" alt="DPTI - Department of Planning, Transport and Infrastructure South Australia"></a></span>
                </div>
                <div id="subscribe_newsletter" class="col-xs-12 col-sm-3 col-md-2 hidden-xs">
                    <a id="newsletter-btn" data-toggle="modal" data-target="#newsletter_subscribe" style="display:none;"><i class="fa fa-envelope-o" aria-hidden="true"></i> Subscribe</a>
                </div>
                <div id="search" class="col-xs-12 col-sm-3 col-md-3 hidden-xs">
                    <form method="get" action="https://www.saplanningportal.sa.gov.au/site_search">
                        <div class="form-group">
                            <label class="sr-only" for="queries_search_query"></label>
                            <input id="queries_search_query" name="queries_search_query" type="text" class="form-control form-control-search" placeholder="Search" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-default btn-search"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">search</span></button>
                    </form>
                </div>
            </div>
        </div>
    </section>



    class="menu-loader">
    <div class="loader-xs"></div>
    </div>
    <section id="menu-wrapper">
        <section id="subnav-menu" class="subnav-menu">
            <div class="container-fluid  main-menu">
                <nav class="navbar navbar-default wow fadeInDown">
                    <div class="navbar-header">
                        <div class="col-xs-3 no-gutter">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <h3 class="">Menu</h3>
                        </div>
                        <div id="m  obile_search" style="margin: 9px 0;" class="col-xs-9 hidden-sm hidden-md hidden-lg">
                            <form method="get" action="/site_search">
                                <div class="form-group">
                                    <label class="sr-only" for="queries_search_query"></label>
                                    <input aria-label="Keyword" id="mobile_queries_search_query" name="queries_search_query" type="text" class="form-control form-control-search" placeholder="Search" data-hj-masked="">
                                </div>
                                <button type="submit" class="btn btn-default btn-search"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">search</span></button>
                            </form>
                        </div>
                    </div>


                    <div class="js-navbar-collapse collapse hidden-sm hidden-md hidden-lg" id="mobile_menu">
                        <ul id="nav-mobile">

                            <li>
                                <a href="//www.saplanningcommission.sa.gov.au/" target="_blank">SA Planning Commission <span class="icon fa-stack"><i class="fa fa-external-link fa-stack-1x" aria-hidden="true"></i><i class="fa fa-square-o fa-stack-1x" aria-hidden="true"></i></span></a>
                            </li>
                            <li>
                                <a id="mobile_newsletter-btn" data-toggle="modal" data-target="#newsletter_subscribe" href="#newsletter_subscribe">Subscribe to our newsletter <span class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></span></a>                                "> /www.saplanningportal.sa.gov.au/current_planning_system" data-group="Current Planning System" target='_self'>Current Planning System</a>
                                <span <li oup="Development Assessment">
s://www.saplanningportal.sa.gov.au/current_planning_system/development_assessment">Development Assessment</a>
/span>
                                    <ul clas

ssment">
                           <a target="_self"s://www.saplanningportal.sa.gov.au/current_planning_system/development_assessment/public_register">Development Application Public Register</a>
                              </li>
                <li class="this" data-su
                             <a target="_blaps://www.edala.sa.gov.au/edala/">EDALA Practitioner Login</a>
                                        
i class="this" data-subgroup="Developmen
                <a target="_self" href="https://www.saplanningportal.sa.gov.au/current_planning_system/development_assessment/new_site_contamination_framework">New Site Contamination Framework</a>
                                   </li>
-subgroup="Development Assessment">
                                 <a target="s://www.saplanningportal.sa.gov.au/current_planning_system/development_assessment/pre-lodgement_case_management">Pre-lodgement Case Management Service</a>
                </li>
ent Assessment">
                                   <a targetps://dpti.sa.gov.au/coordinator_general/$3million_pipeline">Projects Called-in by the State Coordinator General</a>
                                      </
                         <li class="this
                                     <a targps://www.saplanningcommission.sa.gov.au/scap">State Commission Assessment Panel (SCAP)</a>
                   </li>
      <li class="this" data-subgroup
               <a target="_a.govnt_planning_system/development_assessment/virtual_house">Virtual House</a>
        </li>
                              </ul>
                         </li>
               <li class="group" datoup="Development Assessment">
s://www.saplanningportal.sa.gov.au/current_planning_system/building_policy">Building Policy</a>
                       <span class="care
                                <ul class="s

        <li class="this" data-subgroup="
                     <a target="_blank" hrefps://www.sa.gov.au/topics/planning-and-property/land-and-property-development/building-rules-regulations-and-information">About Building Rules and Regulations</a>
                                        
"this" data-subgroup="Development Assess
                <a target="_self" href="https://www.saplanningportal.sa.gov.au/current_planning_system/building_policy/aluminium_composite_panel_building_audits">Aluminium Composite Panel (ACP) Building Audits</a>
                           </li>
p="Development Assessment">
                         <a target="_blank" ps://www.sa.gov.au/topics/planning-and-property/land-and-property-development/planning-professionals/audits">Audits and Complaints of Building Rules Assessments</a>
                            </li>
                                    <li 
                <a target="_self" href="https://www.saplanningportal.sa.gov.au/current_planning_system/building_policy/building_advisory_notices_and_newsletter">Building Advisory Notices and Newsletter</a>
            </li>
                 <li class="this" data-s
                             <a target="_blaps://www.sa.gov.au/topics/planning-and-property/land-and-property-development/engaging-building-industry-professionals">Find a Building Industry Professional</a>
                                        
i class="this" data-subgroup="Developmen
                <a target="_self" href="https://www.saplanningportal.sa.gov.au/current_planning_system/building_policy/private_certification">Private Certification</a>
                                   </li>
a-subgroup="Development Assessment">
                                  <a target=s://www.saplanningportal.sa.gov.au/current_planning_system/building_policy/non-conforming_and_non-complying_building_products">Non-Conforming and Non-Complying Building Products</a>
                </li>
ment Assessment">
/www.saplanningportal.sa.gov.au/nt_planning_system/building_policy/revitalising_underutilised_buildings">Revitalising Underutilised Buildings</a>
   </li>
                          </ul>
                                </li
                                <li oup="Development Assessment">
s://www.saplanningportal.sa.gov.au/current_planning_system/strategic_planning">Strategic Planning</a>

        <ul class="subitem">

opment Assessment">
                 <a target="_blank" href="htp://livingadelaide.sa.gov.au/">30-Year Plan for Greater Adelaide</a>
                    </li>
                            <li class="t
                                        <a tp://infrastructure.sa.gov.au/">Current Infrastructure Projects</a>
                      </li>
         <li class="this" data-subgroup=
                     <a target="_blank" hrefp://www.transportplan.sa.gov.au/">Integrated Transport and Land Use Plan (ITLUP)</a>
                                        
"this" data-subgroup="Development Assess
                <a target="_self" href="https://www.saplanningportal.sa.gov.au/current_planning_system/strategic_planning/open_space_and_public_realm_investment">Open Space and Public Realm Investment</a>
                           </li>
up="Development Assessment">
                                            s://www.saplanningportal.sa.gov.au/resources/planning_strategies">Planning Strategy Library</a>
                                        
essment">
                   k" href="httproperty/planning-and-land-management/plans-for-regional-south-australia">Plans for Regional South Australia</a>
                                
                   </ul>
                                </li
                                <li oup="Development Assessment">
s://www.saplanningportal.sa.gov.au/current_planning_system/planning_policy">Planning Policy</a>

        <ul class="subitem">

                                        
                <a target="_blank" href="https://www.sa.gov.au/topics/planning-and-property/development-plans">Development Plans</a>
            </li>
                     <li class="this" da
                                 <a target="ps://www.sa.gov.au/topics/planning-and-property/development-plans/amendments-to-development-plans">Development Plan Amendments</a>
               </li>
  <li class="this" data-subgroup="Develo
                <a target="_self" href="https://www.saplanningportal.sa.gov.au/current_planning_system/planning_policy/practitioners_guide_to_preparing_development_plan_amendments">Practitioner's Guide to Preparing Development Plan Amendments</a>
                                      </
data-subgroup="Development Assessmen
t="_k" href="https://www.sa.gov.roperty/land-and-property-development/planning-professionals/south-australia-s-planning-policies">South Australia's Planning Policies</a>

       </ul
                 </li>
                        </ul


.saplanningportal.sa.gov.au/planning_reforms" data-group="Planning Reforms" target='_self'>Planning Reforms</a>
aret-right"></span>


                                <li class="group" data-su "Development Assessment">
                                    www.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools">New Planning Tools</a>

                                    <ul class="subitem">

                                        <li class="this" da <a tarwww.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools/accredited_professionals_scheme ">Accredited Professionals Scheme</a>
                    </li>
          <li class="this " data-subg
                           <a target="_swww.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools/assessment_pathways ">Assessment Pathways</a>
             </li>
   <li class="this " data-subgroup="D <a target="_self" hrwww.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools/building_reform ">Building Reform</a>
      </li>
 class="this " data-subgroup="Develop <a target="_self" href="htwww.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools/community_engagement_charter">Community Engagement Charter</a>

                                            "this" data-subgroup="Development As
                                            <a target="_self" href="https://www.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools/design_standards">Design Standards</a>
                                            < data-subgroup="Development Assessmen
        <a target=" _self " href="https://www.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools/environment_and_food_production_areas ">Environment and Food Production Areas</a>
                            </li>
bgroup="Development Assessment ">
                                  <a tarwww.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools/eplanning">ePlanning</a>
                                        </li>
                                        ="Development Assessment">
                                        <a target="_www.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools/infrastructure_schemes">Infrastructure Schemes</a>
                                </li>
                                opment Assessment">
                                <a target="_self" hwww.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools/performance_indicators ">Performance Indicators</a>
        </li>
Assessment">
                                    <a target="_self" href="htwww.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools/planning_and_design_code">Planning and Design Code</a>
                            </li>
                            <li <a target="_self" href="https://www.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools/legislation_practice_directions_and_guidelines">Legislation, Practice Directions and Guidelines</a>
                            </li>
                            <li class=< a target="_self" href="https://www.saplanningportal.sa.gov.au/planning_reforms/new_planning_tools/regional_plans_and_joint_planning_arrangements">Regional Plans and Joint Planning Arrangements</a>
                            </li>
                            <li class="t
                            reforms/new_planning_tools/state_planning_policies">State Planning Policies</a>

                                </ul>

                                <li "Development Assessment">
                                    www.saplanningportal.sa.gov.au/planning_reforms/implementation">Implementation</a>
                                    t-right"></span>
                                    <ul class group="Development Assessment">
                                        <a targwww.saplanningportal.sa.gov.au/planning_reforms/implementation#strategy ">Phased Implementation Strategy</a>
                   </li>
Development Assessment">
                                            <a target="_sewww.saplanningportal.sa.gov.au/planning_reforms/implementation#progress">Progress Dashboard</a>
                                </li>
                                ment Assessment"> ps://www.saplanningportal.sareforms/implementation#calendar">Implementation Calendar</a>



                                "group" data-subgroup="Devel
                                <a targehttps://www.saplanningportal.sa.gov.au/planning_reforms/learning_library ">Learning Library</a>
                       </li>
                 <li class="grou "Development Assessment"> www.saplanningportal.sa.gov.au/planning_reforms/ministerial_advisory_committees">Ministerial Advisory Committees</a>

                                <ul clas <a target="_self" www.saplanningportal.sa.gov.au/planning_reforms/ministerial_advisory_committees/development_industry_advisory_committee ">Development Industry Advisory Committee</a>
                              </li>
                     <li class="this <awww.saplanningportal.sa.gov.au/planning_reforms/ministerial_advisory_committees/community_participation_And_sustainability_advisory_committee ">Community Participation and Sustainability Advisory Committee</a>
                        </li>
              <li class="this " d
                           <reforms/ministerial_advisory_committees/local_government_advisory_committee">Local Government Advisory Committee</a>
                            </li>
                            </ul>


                            </li .saplanningportal.sa.gov.au/data_and_research " data-group="Data and Research " target='_self'>Data and Research</a>



opment Assessment">
                            <a target="_selhttps://www.saplanningportal.sa.gov.au/data_and_research/population_projections_and_demographics">Population Projections and Demographics</a>
                            </li group " data-subgroup="Develo <a targethttps://www.saplanningportal.sa.gov.au/data_and_research/population_change ">Population Change</a>
 </li>
                <li class="g <a target="_self" href=https://www.saplanningportal.sa.gov.au/data_and_research/land_and_development_monitoring ">Land and Development Monitoring</a>

ment Assessment">
                            ndicators" href="https://www.sa.gov.au/topics/planning-and-property/planning-and-land-management/planning-data-for-research-and-mapping/planning-system-indicators">Performance Indicators</a>

                            oup" data-subgroup="Developm
                            <a target="https://www.saplanningportal.sa.gov.au/data_and_research/data_snapshots">Data Snapshots</a>
                            </li>
                            <li class="gro
   <a targeblank" href="data/dataset?q=&organization=department-of-planning-transport-and-infrastructure&groups=housing-land-planning-and-infrastructure&sort=extras_harvest_portal+asc%2C+score+desc%2C+metadata_modified+desc">Spatial Downloads</a>


                            </li>target='_self'>Resources</a>


                            .saplanningportal.sa.gov.au/resources/search?queries_qs_query=&queries_tag_query=&queries_cat_query=&resourcetype=&search_page_412674_sort_by=2&search_page_412674_sort_direction=1&search_page_412674_submit_button=" data-group="Resources"

                            <span class="caret cht"></span>


                            <li class="grooup=" Development Assessment ">
    <a target="_self " href="ry=&search_page_412674_submit_button=&queries_tag_query=&queries_cat_query=461799&search_page_412674_sort_by=undefined&search_page_412674_sort_direction=undefined ">Development Plans</a>
               </li>
                            <li oup="Development Assessment ">
l.sa.gov.au/resources/searchry=&search_page_412674_submit_button=&queries_tag_query=&queries_cat_query=461799&search_page_412674_sort_by=1&search_page_412674_sort_direction=0">Fact Sheets</a>

                                <li oup="Development Assessment">
                                    ningportal.sa.gov.au/resourcry=&search_page_412674_submit_button=&queries_tag_query=&queries_cat_query=461774&search_page_412674_sort_by=undefined&search_page_412674_sort_direction=undefined">Frequently Asked Questions</a>

                                    <li class="groupoup=" Development Assessment ">
                       <a targetsearch_page_412674_submit_button=&queries_tag_query=&queries_cat_query=412458&search_page_412674_sort_by=undefined&search_page_412674_sort_direction=undefined">Guides</a>
                                    </li>
                                    elopment Assessment">
                                    <a target=arch_page_412674_submit_button=&queries_tag_query=&queries_cat_query=412454&search_page_412674_sort_by=undefined&search_page_412674_sort_direction=undefined ">Legislation</a>
<span class="caret caret-right "></span>
<ul class="subitem ">

    <li class="this " data-subgroup="Development Assessment ">
        <a target="_blank " href="https://www.legislation.sa.gov.au/LZ/C/A/DEVELOPMENT%20ACT%201993.aspx ">Development Act 1993</a>
                 </li>
                             <li class="lopment Assessment ">
                       <a target="_bps://www.legislation.sa.gov.au/LZ/C/R/Development%20Regulations%202008.aspx ">Development Regulations 2008</a>
          </li>
                  <li class=
                       <a taZ/C/A/Planning%20Development%20and%20Infrastructure%20Act%202016.aspx">Planning, Development and Infrastructure Act 2016</a>


                                </li elopment Assessment ">
www.saplanningportal.sa.gov.au/resouarch_page_412674_submit_button=&queries_tag_query=&queries_cat_query=412446&search_page_412674_sort_by=undefined&search_page_412674_sort_direction=undefined">Maps</a>
                                <span class="caret
            <ul class=" subitem ">

                   <li class="this " datalopment Assessment">
             <a target="_self" href=s://www.saplanningportal.sa.gov.au/current_planning_system/development_assessment/development_activity_maps_archive">Development Activity Maps</a>

                                    <li lopment Assessment">
                                    p://www.location.sa.gov.au/viewer/">Location SA Map Viewer</a>

ent Assessment">
      <a target="_blank" hrey Location Browser (PLB)</a>
                                


           <li class="group" datoup="Development Assessment">
                  <a target=ry=&search_page_412674_submit_button=&queries_tag_query=&queries_cat_query=460132&search_page_412674_sort_by=undefined&search_page_412674_sort_direction=undefined">Presentations</a>
        </li>
                            <li oup="Development Assessment">
v.au/resources/search?queries_qssearch_page_412674_submit_button=&queries_tag_query=&queries_cat_query=412467&search_page_412674_sort_by=undefined&search_page_412674_sort_direction=undefined">Publications</a>
                            </li
elopment Assessment">
.saplanningportal.sa.gov.au/resourcearch_page_412674_submit_button=&queries_tag_query=&queries_cat_query=412450&search_page_412674_sort_by=undefined&search_page_412674_sort_direction=undefined">Strategies</a>
                   <span class="caret ca
         <ul class="subitem">

                <li class="this" data-sulopment Assessment">
          <a target="_blank" href="hp://www.livingadelaide.sa.gov.au">30-Year Plan for Greater Adelaide</a>

                                    <li lopment Assessment">
                                    ps://www.sa.gov.au/topics/planning-and-property/planning-and-land-management/aboriginal-community-structure-plans">Aboriginal Community Structure Plans</a>

                        <li class="this"lopment Assessment">
                                    p://www.transportplan.sa.gov.au/">Integrated Transport and Land Use Plan (ITLUP)</a>
                         </li>
                            
                            ng-and-property/planning-and-land-management/plans-for-regional-south-australia">Plans for Regional South Australia</a>
                       </li>
 

                            <li oup="Development Assessment">
elf" href="ources/search?query=&search_page_412674_submit_button=&queries_tag_query=&queries_cat_query=426781&search_page_412674_sort_by=undefined&search_page_412674_sort_direction=undefined">Templates and Forms</a>
li>
-subgroup="Development Aent">
arget="_self" href="httpsaplanningportal.sa.gov.au/resources/search?queries_qs_query=&search_page_412674_submit_button=&queries_tag_query=&queries_cat_query=461786&search_page_412674_sort_by=undefined&search_page_412674_sort_direction=undefined">Videos</a>
                            
       </ul>


  <a href="https://www.saplap="Have Your Say" target='_self'>Have Your Say</a>
                            <spaht"></span>


                                <li class="grooup=" Development Assessment ">
ningportal.sa.gov.au/have_yoions">Currently on Consultation</a>

                                    <li oup="Development Assessment">
                                        "_self" href="e_your_say#upcUpcoming Events</a>
                                    </li>
                                    ata-subgroup="Developmenent"> e Asking" href="https://www.saplanningportal.sa.gov.au/have_your_say#what-we-hear-from-you">What South Australians are Asking</a>




                                    .au/interactive_tools" data-group="Interactive Tools" target='_self'>Interactive Tools</a>
                                    <span class="caret caret-right"></span>


                                    <li oup="Development Assessment">
                                        Activity_Tracker">Development Activity Tracker</a>

                                        <li oup="Development Assessment">


                                            <li oup="Development Assessment">
                                                39c7684795bf4927e959be7047">Major Developments in South Australia</a>

                                                <li oup="Development Assessment">


                                                    ent"> saplanningportal.sa.gov.au/current_planning_system/development_assessment/virtual_house">Virtual House</a>



                                                    <li class="main">
                                                        <a href="https://www.saplanningportal.sa.gov.au/updates" data-group="News" target='_self'>News</a>
                                                    </li>

                                                    </ul>
                    </div>


                    wn" class="nav navbar-nav"> own mega-dropdown list-inline-item " rel="submenu-427846"> rtal.sa.gov.au/current_planning_system" id="submenu-427846" rel="subsubmenu-427846" data-submenulevel="1" data-type="Redirect Page" class="submenu">Current Planning
                    System</a>





                    <li class="dropdown mega-dropdown list-inline-item " rel="submenu-427845">
                        t='_self' href="https://www.saplanningportal.sa.gov.au/planning_reforms" id="submenu-427845" rel="subsubmenu-427845" data-submenulevel="1" data-type="Redirect Page" class="submenu">Planning Reforms</a>



                        <li class="dropdown mega-dropdown list-inline-item " rel="submenu-427844">
                            t='_self' href="https://www.saplanningportal.sa.gov.au/data_and_research" id="submenu-427844" rel="subsubmenu-427844" data-submenulevel="1" data-type="Redirect Page" class="submenu">Data and Research</a>




                            <li class="dropdown mega-dropdown list-inline-item " rel="submenu-425335">
                                t='_self' href="https://www.saplanningportal.sa.gov.au/resources/search?queries_qs_query=&queries_tag_query=&queries_cat_query=&resourcetype=&search_page_412674_sort_by=2&search_page_412674_sort_direction=1&search_page_412674_submit_button=" id="submenu-425335"
                                rel="subsubmenu-425335" data-submenulevel="1" data-type="Redirect Page" class="submenu">Resources</a>



                                <li class="dropdown mega-dropdown list-inline-item " rel="submenu-425325">
                                    t='_self' href="https://www.saplanningportal.sa.gov.au/have_your_say" id="submenu-425325" rel="subsubmenu-425325" data-submenulevel="1" data-type="Redirect Page" class="submenu">Have Your Say</a>




                                    <li class="dropdown mega-dropdown list-inline-item " rel="submenu-501159">
                                        t='_self' href="https://www.saplanningportal.sa.gov.au/interactive_tools" id="submenu-501159" rel="subsubmenu-501159" data-submenulevel="1" data-type="Redirect Page" class="submenu">Interactive Tools</a>



                                    </li>
                                    ropdown mega-dropdown list-inline-item " rel="submenu-484964">
                                    <a target='_self' href="https://www.saplanningportal.sa.gov.au/updates" id="submenu-484964" rel="subsubmenu-484964" data-submenulevel="1" data-type="Redirect Page" class="submenu">News</a>


                                </li>
                                </ul>
            </div>
            </nav>
            < /div>
        </section>
    </section>
    <script>
        var elements = document.getElementsByClassName('menu-loader');
        while (elements.length > 0) {
            elements[0].parentNode.removeChild(elements[0]);
        }
    </script>

    <div id="blankme"></div>

    <section id="homesection" class="homesection">
        <div class="container">
            <div class="row">