

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(215,219,220,.2)
}

#homesection {
    flex: 1 0 auto;
    padding-bottom: 6rem;
}

.footer {
    flex-shrink: 0;
}

#homesection{

    .container{
        padding-right: 0;
        padding-left: 0;
    }
}

#ConsultContent {
    background-color: $transparent !important;

    #content{
        background-color: $transparent !important;
    }


    h1, h2, h3, p, a{
        color: $psa-black;
    }

    .ui-widget-content, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
        border: none;
    }
    
    .ui-state-active, .ui-accordion-header {
        background: $psa-dpti-teal !important;
    }

    .ui-accordion .ui-accordion-content{
        padding: 0 !important;
    }

    .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
        border-radius: 0;
    }

    .ui-accordion{
        margin-bottom: 32px;
    }
    
}


