.home footer{
    margin-top: 0 !important;
}

.home h1 {
    font-size: 1.75rem;
}
#banner.jumbotron {
    background-image: url(https://dpti.sa.gov.au/saplanningportal/resources/images/home_page/portal-home-banner.jpg);
    background-size: inherit;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}
#banner.jumbotron > .img-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
}

#banner .btn-outline-secondary {
    color: #ffffff;
    border-color: #ffffff;
    padding: 0.6rem 1rem;
    font-weight: 600;
    border: 2px solid #ffffff;
    font-size: 1em;
}
#banner .btn-outline-secondary:hover {
    background-color: rgba(0, 0, 0, .4);
}

#banner .btn-outline-secondary:focus, 
#banner .btn-outline-secondary.focus {
    /*use mixin in integration*/
    @include useColourBorder(0px 0px 0px 4px $purple);
}
#banner .btn-outline-secondary:active, 
#banner .btn-outline-secondary.active {
    background-color: rgba(0, 0, 0, .7);
    /*use mixin in integration*/
    @include useColourBorder(0px 0px 0px 0px $purple);
}
#cta {
    margin-top: -2.2rem;
}
#cta .nav-tabs {
    flex-wrap: nowrap;
    // box-shadow: 0rem -0.3rem 0.3rem 0.2rem rgba(0, 0, 0, .1);
    // -webkit-box-shadow: 0rem -0.3rem 0.3rem 0.2rem rgba(0, 0, 0, .1);
    // -moz-box-shadow: 0rem -0.3rem 0.3rem 0.2rem rgba(0, 0, 0, .1);
    @include useColourBorder(0rem -0.3rem 0.3rem 0.2rem rgba(0, 0, 0, .1));
}
#cta .nav-tabs .nav-link {
    color: #FFFFFF;
    background-color: $black;
    border: 0px solid #ffffff; 
    margin-bottom: 0;
    font-weight: bolder;
    flex: 1 1 auto;
    text-align: center;
    z-index: 99;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#cta .nav-tabs .nav-link.active {
    color: #000000;
    background-color: #ffffff;
    border: 0px solid #ffffff; 
    margin-bottom: -1px;
}

#cta .card {
    border: 0px solid rgba(0, 0, 0, .0);
    border-bottom: 2px solid $body-bg; /* $body-bg */
}
#cta .card.last-of-type {
    border-right: 0px solid $body-bg; /* $body-bg */
    border-bottom: 0px solid $body-bg; /* $body-bg */
}
#cta .tab-content {
    // box-shadow: 0rem 0.05rem 0.3rem 0.2rem rgba(0, 0, 0, .1);
    // -webkit-box-shadow: 0rem 0.05rem 0.3rem 0.2rem rgba(0, 0, 0, .1);
    // -moz-box-shadow: 0rem 0.05rem 0.3rem 0.2rem rgba(0, 0, 0, .1);   
    @include useColourBorder(0rem 0.05rem 0.3rem 0.2rem rgba(0, 0, 0, .1));
}
#cta .card .card-title {
    position: relative;
    padding-right:2rem;
    font-weight: 400;
}
#cta .card-block .icon {
    font-size: 2.5rem;
    color: #195c8a;
    vertical-align: middle;
}
#cta .card-block .iconstack {
    font-size: 1.5rem;
    color: #195c8a;
    vertical-align: middle;
    left: 7px;
    top: -6px;
}
#cta .tab-pane .card .card-block .stretched-link:link, 
#cta .tab-pane .card .card-block .stretched-link:visited{
    color: #000;
    text-decoration: none;
}
#cta .tab-pane .card .card-block:focus,
#cta .tab-pane .card .card-block .stretched-link:focus {
    outline: none;
    -webkit-appearance: none;
}
#cta .tab-pane .card .card-block:hover .stretched-link .card-title,
#cta .tab-pane .card .card-block:focus .stretched-link .card-title,
#cta .tab-pane .card .card-block:active .stretched-link .card-title,
#cta .tab-pane .card .card-block .stretched-link:hover .card-title,
#cta .tab-pane .card .card-block .stretched-link:focus .card-title,
#cta .tab-pane .card .card-block .stretched-link:active .card-title{
    text-decoration: underline;
    color: #000;
}
#cta .card .card-title::after {
    @include useFontAwesome;
    content: "\f138";
}


@media (max-width: 991px) {
    #cta .card .card-title{
        font-size: 1em;
        margin-bottom: 0;
    }
    #cta .card .card-title > .svg-inline--fa {
        color: $dark;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
	}
}
@media (max-width: 576px) {
    #cta .card .card-title > .svg-inline--fa {
        right: 0.5rem;
	}
}
@media (min-width: 992px) { /* 576px */
    .home h1 {
        font-size: 2.1rem;
    }
    #banner.jumbotron {
        height: 460px;
    }

    #cta {
        margin-top: -7.5rem;
    }
    #cta .nav-tabs {
        // box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0);
        // -webkit-box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0);
        // -moz-box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0);
    @include useColourBorder(0rem 0rem 0rem 0rem rgba(0, 0, 0, 0));
    }
    #cta .card {
        border-right: 2px solid $body-bg; /* $body-bg */
        border-bottom: 0px solid $body-bg; /* $body-bg */
    }
    #cta .card-block {
        /*position: absolute;*/
        &:hover{
            .tab_icon{
                background-position-y: 100%;
            }
        }
    }
    #cta .nav-tabs .nav-link {
        background-color: $blackrgba; /* $blackrgba */
        flex: none;
        padding-top: 1.15rem;
        padding-bottom: 1.15rem;
    }

    #check{
        background: url(./?a=640206);
    }
    #create{
        background: url(./?a=640210);
    }
    #find{
        background: url(./?a=640211);
    }
    #southaustralia{
        background: url(./?a=640213);
    }
    #comment{
        background: url(./?a=640208);
    }
    


    .tab_icon{
        display: block;
        height: 50px;
        width: 50px;
        overflow: hidden;
        background-size: 100% !important;
    }


    #cta .card .card-title {
        padding-right:0;
    }
    #cta .card .card-title > .svg-inline--fa {
        display: none;
	}
}


#development-search{
    
    background-color: $white;
    
    .container{
        min-height: 460px;
        background: url(./?a=640214);
        width: auto;
        height: 240px;
        background-position: bottom right;
        background-repeat: no-repeat;
        // background-color: rgba($river-bed, .1 );
    }
    
    button[type="submit"]{
        background: none;
        border: none;
        position: absolute;
        top: 0.3em;
        right: 0.1em;
        font-size: 1.3rem;
        
        .fa-search:hover{
            color: $elm;
        }
    }

    svg .cityscape-fill{
        fill: $storm-grey;
        fill-opacity: 0.2;
    }
}

#placeholder{
    background-color: rgba($storm-grey, .1);
}