<header class="container-fluid bg-dark text-light">
    <div class="navbar navbar-expand-md border-0 p-0 d-flex flex-column">
        <div class="container px-0">

            <div class="header-content d-flex justify-content-between">
                <div class="logo d-flex align-items-center">
                    <a href="https://www.saplanningportal.sa.gov.au"><img class="saportal-logo" src="https://portal-style-endpoint.netlify.com/assets/images/sapp4_2.png" alt="SA Planning Portal"></a>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    var elements = document.getElementsByClassName('menu-loader');
    while (elements.length > 0) {
        elements[0].parentNode.removeChild(elements[0]);
    }
</script>



<div id="blankme"></div>

<section id="homesection" class="homesection">
    <div class="container">
        <div class="row_redman">


        </div>
    </div>
</section>

<footer class="footer pt-5 pb-3 bg-dark text-light" style="bottom: 0; position: relative; margin-top: 50px;">
    <div class="container">

        <div class="col-12 px-0">
            <hr class="mb-5 hr-border">
        </div>
        <div class="row">
            <div class="col-12 col-lg-5 mb-md-6 mb-lg-0">
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-6 d-flex justify-content-center justify-content-md-start py-5 py-md-0 img-logo">
                        <a style="color: #d7dce0 !important" href="http://dpti.sa.gov.au/" target="_blank" title="DPTI - Department of Planning, Transport and Infrastructure South Australia">
                            <img class="img-fluid" src="https://portal-style-endpoint.netlify.com/assets/images/logo_dpti.png" alt="DPTI - Department of Planning, Transport and Infrastructure South Australia">
                        </a>
                    </div>
                    <div class="col-12 col-md-3  d-flex justify-content-center py-5 py-md-0 img-logo">
                        <a style="color: #d7dce0 !important" href="http://www.brandsouthaustralia.com.au/" target="_blank" title="Brand South Australia website">
                            <img class="img-fluid" src="https://portal-style-endpoint.netlify.com/assets/images/logo_bsa.png" alt="Brand South Australia">
                        </a>
                    </div>
                    <div class="col-12 col-md-3  d-flex justify-content-center align-items-center  align-self-lg-start py-5 py-md-0 img-logo">
                        <a style="color: #d7dce0 !important" href="http://sa.gov.au/" target="_blank" title="SA Gov website">
                            <img class="img-fluid" src="https://portal-style-endpoint.netlify.com/assets/images/logo_sagovau.png" alt="SA Gov logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 info-text px-5 px-md-2 px-lg-0">
                <ul class="list-inline d-flex justify-content-center justify-content-md-start justify-content-lg-end flex-wrap flex-md-nowrap pr-md-2">
                    <li><a style="color: #d7dce0 !important" href="http://dpti.sa.gov.au/freedom_of_information" rel="noreferrer" target="_blank">Freedom of Information</a>
                    </li>
                    <li><a style="color: #d7dce0 !important" href="http://dpti.sa.gov.au/accessibility" rel="noreferrer" target="_blank">Accessibility</a>
                    </li>
                    <li><a style="color: #d7dce0 !important" href="http://dpti.sa.gov.au/security" rel="noreferrer" target="_blank">Security</a>
                    </li>
                    <li><a style="color: #d7dce0 !important" href="http://dpti.sa.gov.au/privacy" rel="noreferrer" target="_blank">Privacy</a>
                    </li>
                    <li><a style="color: #d7dce0 !important" href="http://dpti.sa.gov.au/copyright_statement" rel="noreferrer" target="_blank">Copyright</a>
                    </li>
                    <li class="pr-0"><a style="color: #d7dce0 !important" href="http://dpti.sa.gov.au/website_disclaimer" rel="noreferrer" target="_blank">Disclaimer</a>
                    </li>
                </ul>
                <p class="creative-commons text-center px-2 px-md-2 px-lg-2 text-md-left text-lg-right">This work is licensed under a <a style="color: #d7dce0 !important" href="http://creativecommons.org/licenses/by/3.0/au/deed.en" rel="noreferrer" target="_blank">Creative Commons Attribution 3.0 Australia Licence</a>
                </p>
            </div>
        </div>
    </div>
</footer>



<div id="stop" class="scrollTop d-none">
    <span><a aria-hidden="true" href="#Top"><i class="fa fa-angle-double-up" aria-label="top"></i></a></span>
</div>


<div id="video-modals"></div>
<div class="info" id="newsletter_modal_420467">
    <div class="modal fade in" id="newsletter_subscribe" tabindex="-1" role="dialog" aria-labelledby="NewsletterSubscribe">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong class="modal-title">Subscribe to Newsletters</strong>
                    </div>
                    <div class="modal-body">
                        <div class="col-xs-12" id="subscribe_content">
                            <h4>Subscribe to our newsletters to stay up-to-date with planning and building news across South Australia.</h4>
                            <form id="subscribe-form" action="https://themdigital.createsend.com/t/r/s/kkhjiiu/" method="post">
                                <div class="form-check col-xs-6">
                                    <label class="form-check-label" for="modallistkkhjiiu">
                    Planning Ahead
                  </label>
                                    <input class="sq-form-field no-bootstrap" type="checkbox" checked id="modallistkkhjiiu" name="cm-ol-kkhjiiu">
                                    <span>News from the planning and development sector about changes to the new and current planning system.</span>
                                </div>
                                <div class="form-check col-xs-6">
                                    <label class="sq-form-field form-check-label" for="modallistiydlaj">
                    Building Standard
                  </label>
                                    <input class="sq-form-field no-bootstrap" type="checkbox" checked id="modallistiydlaj" name="cm-ol-iydlaj">
                                    <span>News from the building sector about legislative and technical changes, policy initiatives and training.</span>
                                </div>
                                <div class="text-center col-xs-12">
                                    <div class="inputtext">
                                        <label for="modalfieldName" class="control-label">Name</label><abbr class="sq-form-required-field" title="required">*</abbr>

                                        <input id="modalfieldName" name="cm-name" type="text" class="form-control" required /><br>

                                        <label for="modalfieldEmail" class="control-label">Email</label><abbr class="sq-form-required-field" title="required">*</abbr>

                                        <input id="modalfieldEmail" name="cm-kkhjiiu-kkhjiiu" type="email" required class="form-control" />

                                        <div class="col-xs-12 form-group submitaction">
                                            <input type="submit" class="btn btn-primary input-lg" id="modalsubscribe-button" value="Subscribe" />
                                            <br><a style="color: #d7dce0 !important" href="http://dpti.sa.gov.au/privacy" target="_blank">Privacy Policy</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <style>
        section.top-menu #updates-btn {
            margin: 8px 15px 0 0;
        }
    </style>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<!-- <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" ></script>-->
<!-- <script defer src="https://www.saplanningportal.sa.gov.au/__data/assets/js_file_folder/0005/513077/JS_Merged.min.js?v=2.1" type="text/javascript"></script> -->
<!--<script defer type="text/javascript" src="https://www.saplanningportal.sa.gov.au/__data/assets/js_file_folder/0006/513096/home-page.min.js" data-file="homepage.js"></script>-->
<!--<script defer src="https://www.saplanningportal.sa.gov.au/__data/assets/js_file_folder/0011/513101/portal-analytics.min.js"></script>-->
<!-- <script defer src="//cdn.monsido.com/tool/javascripts/monsido.js"></script> -->
<!-- <link defer rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->



<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script> -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous">
</script>

<script defer src="https://portal-style-endpoint.netlify.com/js/lib.js"></script>
<!--<script defer src="https://portal-style-endpoint.netlify.com/js/custom.js"></script>-->
<script>
    FontAwesomeConfig = {
        searchPseudoElements: true,
        observeMutations: true
    };
</script>
<!--<script src="https://kit.fontawesome.com/911881cb04.js" crossorigin="anonymous" data-observe-mutations-->
<!--    data-search-pseudo-elements></script>-->