<style>
  #headercont {
    background-color: #323e48;
    display: flex;
    height: 106px;
    align-items: center;
    justify-content: space-between;
  }
  #headercont #headerright {
    color: #fff;
    margin-top: 60px;
  }
</style>

<header class="container-fluid bg-dark text-light">
  <div id="headercont">
    <div id="headerleft">
      <div class="logo d-flex align-items-center">
        <a href="https://www.saplanningportal.sa.gov.au"
          ><img
            class="saportal-logo"
            src="https://portal-style-endpoint.netlify.com/assets/images/sapp4_2.png"
            data-loaded="true"
        /></a>
      </div>
    </div>
    <span id="lblApplicationName">PreProd</span>
    <div id="headerright">
      <span id="lblCurrentSiteLocation" style="font-weight: bold;"
        >Current Page: Default</span
      >
      <span id="lblLogin">Logged in as: Matt Swann</span>
    </div>
  </div>
</header>
