<style>
  footer.manage-sub .logo-row {
    align-items: center;
  }
  footer.manage-sub .logo-row .logo-row_inner {
    align-items: end;
  }
</style>

<div id="bottomcont">
  <footer
    class="footer pt-5 pb-3 bg-dark text-light manage-sub"
    style="bottom: 0; position: relative; margin-top: 50px;"
  >
    <div class="container-fluid">
      <div class="row logo-row">
        <div class="col-12 col-lg-5 mb-md-6 mb-lg-0">
          <div class="row logo-row_inner">
            <div class="col-4 py-5 py-md-0 img-logo">
              <a
                style="color: #d7dce0 !important;"
                href="http://dpti.sa.gov.au/"
                target="_blank"
                title="DPTI - Department of Planning, Transport and Infrastructure South Australia"
              >
                <img
                  class="img-fluid"
                  src="https://portal-style-endpoint.netlify.com/assets/images/logo_dpti.png"
                  data-loaded="true"
                />
              </a>
            </div>
            <div class="col-4 py-5 py-md-0 img-logo">
              <a
                style="color: #d7dce0 !important;"
                href="http://www.brandsouthaustralia.com.au/"
                target="_blank"
                title="Brand South Australia website"
              >
                <img
                  class="img-fluid"
                  src="https://portal-style-endpoint.netlify.com/assets/images/logo_bsa.png"
                  data-loaded="true"
                />
              </a>
            </div>
            <div class="col-4 py-5 py-md-0 img-logo">
              <a
                style="color: #d7dce0 !important;"
                href="http://sa.gov.au/"
                target="_blank"
                title="SA Gov website"
              >
                <img
                  class="img-fluid"
                  src="https://portal-style-endpoint.netlify.com/assets/images/logo_sagovau.png"
                  data-loaded="true"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-7 info-text px-5 px-md-2 px-lg-0">
          <ul
            class="list-inline d-flex justify-content-center justify-content-md-start justify-content-lg-end flex-wrap flex-md-nowrap pr-md-2"
          >
            <li>
              <a
                style="color: #d7dce0 !important;"
                href="http://dpti.sa.gov.au/freedom_of_information"
                rel="noreferrer"
                target="_blank"
                >Freedom of Information</a
              >
            </li>
            <li>
              <a
                style="color: #d7dce0 !important;"
                href="http://dpti.sa.gov.au/accessibility"
                rel="noreferrer"
                target="_blank"
                >Accessibility</a
              >
            </li>
            <li>
              <a
                style="color: #d7dce0 !important;"
                href="http://dpti.sa.gov.au/security"
                rel="noreferrer"
                target="_blank"
                >Security</a
              >
            </li>
            <li>
              <a
                style="color: #d7dce0 !important;"
                href="http://dpti.sa.gov.au/privacy"
                rel="noreferrer"
                target="_blank"
                >Privacy</a
              >
            </li>
            <li>
              <a
                style="color: #d7dce0 !important;"
                href="http://dpti.sa.gov.au/copyright_statement"
                rel="noreferrer"
                target="_blank"
                >Copyright</a
              >
            </li>
            <li class="pr-0">
              <a
                style="color: #d7dce0 !important;"
                href="http://dpti.sa.gov.au/website_disclaimer"
                rel="noreferrer"
                target="_blank"
                >Disclaimer</a
              >
            </li>
          </ul>
          <p
            class="creative-commons text-center px-2 px-md-2 px-lg-2 text-md-left text-lg-right"
          >
            This work is licensed under a
            <a
              style="color: #d7dce0 !important;"
              href="http://creativecommons.org/licenses/by/3.0/au/deed.en"
              rel="noreferrer"
              target="_blank"
              >Creative Commons Attribution 3.0 Australia Licence</a
            >
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
