#ConsultContent input[type="checkbox"],
#ConsultContent input[type="radio"] {
    width: initial;
    height: initial;
    margin-left: initial;
}

#doDropDown li .first {
    content: url(https://www.saplanningportal.sa.gov.au/__data/assets/image/0004/418675/SAPP_icon.png) !important;
    background-image: url(https://www.saplanningportal.sa.gov.au/__data/assets/image/0004/418675/SAPP_icon.png);
    background-repeat: no-repeat;
}

#doDropDown li .first img {
    display: none;
}

.divDocTools {
    color: #2e2e2e;
}

.container,
.container-fluid {
    z-index: 10000 !Important
}

.k-root,
.k-pane,
.k-pane-wrapper,
.k-scrollview,
.k-scroll-container {
    -ms-user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}