<header class="container-fluid bg-dark text-light">

    <div class="navbar navbar-expand-md border-0 p-0 d-flex flex-column">
        <div class="container px-0">

            <div class="header-content d-flex justify-content-between">
                <div class="logo d-flex align-items-center">
                    <a href="https://dpti.sa.gov.au/saplanningportal?SQ_ENVIRONMENT=dev"><img class="saportal-logo" src="https://portal-style-endpoint.netlify.com/assets/images/sapp4_2.png" alt="SA Planning Portal"></a>
                </div>
                <div class="col-6 col-md-9 col-lg-7 col-xl-6 d-flex justify-content-md-end justify-content-lg-end justify-content-end p-0 ie-right-col">
                    <div class="btn-group my-auto ml-xl-8 d-none d-lg-block">
                        <a class="btn btn-link text-white" href="#registerWizard">Register</a> <a style="color: white !important;" type="button" class="btn btn-info btn-login" href="https://dptitest.appiancloud.com/suite/sites/dap/" target="_self"> Login <svg data-fa-pseudo-element=":after" data-prefix="fas"
                                data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
                                </path>
                            </svg></a>
                    </div>
                    <div for="input-search" class="form-group my-auto p-0 m-0 search-icon d-none d-lg-block ml-md-3">
                        <form action="https://dpti.sa.gov.au/saplanningportal/site_search" method="GET">
                            <!--<input type="text" name="queries_q_query" class="form-control" id="input-search" placeholder="Find something" aria-label="input-search" aria-describedby="input-search">-->
                            <!--<input type="hidden" name="SQ_ENVIRONMENT" value="dev">-->
                            <!--</form>-->

                            <div class="input-group my-auto">
                                <input type="hidden" name="SQ_ENVIRONMENT" value="dev">
                                <input type="text" name="queries_q_query" value="" size="25" aria-labeledby="input-search" title="search the SA Planning Portal" class="sq-form-field" id="queries_q_query" placeholder="Find something">


                            </div>
                        </form>
                    </div>





                    <button class="navbar-toggler btn-mainmenu collapsed d-block d-lg-none text-white bg-primary my-3" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> Menu
                        <svg data-fa-pseudo-element=":after" data-prefix="fas" data-icon="bars"
                            class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                            </path>
                        </svg></button>
                    <button class="mbtn-close text-white bg-primary my-3 font-weight-bold" type="button" style="display:none"> Close X </button>
                    <div class="mobile-searchicon my-3 d-block d-lg-none ml-3"><svg data-fa-pseudo-element=":after" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                            </path>
                        </svg></div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar container   navbar-expand-lg static-top p-0 d-none d-lg-block " role="navigation">
        <ul class="ul-menu d-flex align-items-center justify-content-between p-0 m-0">
            <li class="list-group-item nav-item dropdown" rel="menu-623427" id="menu623427" tabindex="0">
                <a style="color: white !important;" href="https://dpti.sa.gov.au/saplanningportal/development_applications?SQ_ENVIRONMENT=dev" rel="submenu-623427">
                    Development applications <span class="arrow-down-icon"><svg data-fa-pseudo-element=":after"
                            data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14"
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                            </path>
                        </svg></span>
                </a>

                <div class="container dropdown-menu dropdown-menu-wide">
                    <!-- 2nd level start -->
                    <button class="mbtn-close float-right" type="button">×</button>
                    <div class="row">
                        <ul id="submenu-623427" class="sub-menu-level2  col-4">
                            <li class="dropdown-item selected" rel="submenu-626638">

                                <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/getting_approval2?SQ_ENVIRONMENT=dev" id="submenu-626638" rel="subsubmenu-626638"><span class="menu-label"> Getting
                                        approval </span><span class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-626638" class="sub-menu-level3">
                                    <li class="" rel="subsubmenu-623135">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/getting_approval2/do_i_need_approval?SQ_ENVIRONMENT=dev" id="subsubmenu-623135">
                                            <span class="menu-label"> Find out if you need approval </span>
                                            <div class="menu-label-desc"> Use the development approval wizard to find out </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-636949">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/getting_approval2/types_of_approval?SQ_ENVIRONMENT=dev" id="subsubmenu-636949">
                                            <span class="menu-label"> How to apply for approval </span>
                                            <div class="menu-label-desc"> How to apply for approval </div>
                                        </a>

                                    </li>
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/development_applications/getting_approval2?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in Getting approval </span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item" rel="submenu-626624">

                                <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/getting_approval?SQ_ENVIRONMENT=dev" id="submenu-626624" rel="subsubmenu-626624"><span class="menu-label"> Lodge an
                                        application </span><span class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-626624" class="sub-menu-level3">
                                    <li class="" rel="subsubmenu-628292">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/getting_approval/lodge_online?SQ_ENVIRONMENT=dev" id="subsubmenu-628292">
                                            <span class="menu-label"> Lodge online </span>
                                            <div class="menu-label-desc"> If you have an SA Planning Portal account, you can lodge an application online </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-628299">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/getting_approval/log_in_to_edala?SQ_ENVIRONMENT=dev" id="subsubmenu-628299">
                                            <span class="menu-label"> Lodge in EDALA </span>
                                            <div class="menu-label-desc"> If you already have an account log in to EDALA
                                            </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-648964">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/getting_approval/create_an_online_account?SQ_ENVIRONMENT=dev" id="subsubmenu-648964">
                                            <span class="menu-label"> Create an online account </span>
                                            <div class="menu-label-desc"> Register&nbsp;for an account to lodge and manage development applications in the SA Planning Portal </div>
                                        </a>

                                    </li>
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/development_applications/getting_approval?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in Lodge an application </span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item" rel="submenu-648562">

                                <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/rules_that_apply?SQ_ENVIRONMENT=dev" id="submenu-648562" rel="subsubmenu-648562"><span class="menu-label"> Rules that
                                        apply </span><span class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-648562" class="sub-menu-level3">
                                    <li class="" rel="subsubmenu-628172">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/rules_that_apply/zoning_for_a_property?SQ_ENVIRONMENT=dev" id="subsubmenu-628172">
                                            <span class="menu-label"> See zoning for your property </span>
                                            <div class="menu-label-desc"> Get information about the rules that apply to a development property </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-648573">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/rules_that_apply/determine_assessment_pathways_for_a_development_type?SQ_ENVIRONMENT=dev" id="subsubmenu-648573">
                                            <span class="menu-label"> Determine assessment pathways for a development
                                                type </span>
                                            <div class="menu-label-desc"> Assessment pathways determine the process, timing and cost of getting approval for a development </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-648574">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/rules_that_apply/all_planning_and_building_rules?SQ_ENVIRONMENT=dev" id="subsubmenu-648574">
                                            <span class="menu-label"> All planning and building rules </span>
                                            <div class="menu-label-desc"> All planning and building rules </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-649388">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/rules_that_apply/amendments?SQ_ENVIRONMENT=dev" id="subsubmenu-649388">
                                            <span class="menu-label"> Current amendments </span>
                                            <div class="menu-label-desc"> Short description goes here </div>
                                        </a>

                                    </li>
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/development_applications/rules_that_apply?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in Rules that apply </span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item" rel="submenu-637750">

                                <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/track_a_development_application?SQ_ENVIRONMENT=dev" id="submenu-637750" rel="subsubmenu-637750"><span class="menu-label"> Track a
                                        development application </span><span
                                        class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-637750" class="sub-menu-level3">
                                    <li class="" rel="subsubmenu-649553">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/track_a_development_application/development_application_register_placeholder?SQ_ENVIRONMENT=dev" id="subsubmenu-649553">
                                            <span class="menu-label"> Development Application Register [PLACEHOLDER]
                                            </span>
                                            <div class="menu-label-desc"> Development Application Register [PLACEHOLDER]
                                            </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-623806">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/track_a_development_application/public_notices?SQ_ENVIRONMENT=dev" id="subsubmenu-623806">
                                            <span class="menu-label"> Public notices </span>
                                            <div class="menu-label-desc"> Have your say on developments that are on public notice </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-637758">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/track_a_development_application/am_i_searching_the_right_register?SQ_ENVIRONMENT=dev" id="subsubmenu-637758">
                                            <span class="menu-label"> Am I searching the right register </span>
                                            <div class="menu-label-desc"> Where to get information about a development
                                            </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-649389">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/track_a_development_application/scap_agenda_and_minutes?SQ_ENVIRONMENT=dev" id="subsubmenu-649389">
                                            <span class="menu-label"> SCAP agenda and minutes </span>
                                            <div class="menu-label-desc"> Decisions made by the State Commission Assessment Panel on a development application </div>
                                        </a>

                                    </li>
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/development_applications/track_a_development_application?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in Track a development application
                                            </span></a></li>
                                </ul>
                            </li>
                        </ul>

                        <div class="sub-menu-level3-container col-4">
                            <ul id="subsubmenu-626638" class="sub-menu-level3">
                                <li class="" rel="subsubmenu-623135">
                                    <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/getting_approval2/do_i_need_approval?SQ_ENVIRONMENT=dev" id="subsubmenu-623135">
                                        <span class="menu-label"> Find out if you need approval </span>
                                        <div class="menu-label-desc"> Use the development approval wizard to find out
                                        </div>
                                    </a>

                                </li>
                                <li class="" rel="subsubmenu-636949">
                                    <a href="https://dpti.sa.gov.au/saplanningportal/development_applications/getting_approval2/types_of_approval?SQ_ENVIRONMENT=dev" id="subsubmenu-636949">
                                        <span class="menu-label"> How to apply for approval </span>
                                        <div class="menu-label-desc"> How to apply for approval </div>
                                    </a>

                                </li>
                                <li><a href="https://dpti.sa.gov.au/saplanningportal/development_applications/getting_approval2?SQ_ENVIRONMENT=dev"><span
                                            class="menu-label">See All in Getting approval </span></a></li>
                            </ul>
                        </div>

                        <div class="level1-tools col-4">
                            <h2>Tools</h2>
                            <p>This is only available for pages listed under the second level menu area.</p>
                            <p>This is only available for pages listed under the second level menu area.</p>
                            <p>This is only available for pages listed under the second level menu area.</p>
                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item nav-item dropdown" rel="menu-625554" id="menu625554" tabindex="0">
                <a style="color: white !important;" href="https://dpti.sa.gov.au/saplanningportal/activity_in_sa?SQ_ENVIRONMENT=dev" rel="submenu-625554">
                    Activity in SA <span class="arrow-down-icon"><svg data-fa-pseudo-element=":after" data-prefix="fas"
                            data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                            </path>
                        </svg></span>
                </a>

                <div class="container dropdown-menu dropdown-menu-wide">
                    <!-- 2nd level start -->
                    <button class="mbtn-close float-right" type="button">×</button>
                    <div class="row">
                        <ul id="submenu-625554" class="sub-menu-level2  col-4">
                            <li class="dropdown-item" rel="submenu-637366">

                                <a href="https://dpti.sa.gov.au/saplanningportal/activity_in_sa/development_activity?SQ_ENVIRONMENT=dev" id="submenu-637366" rel="subsubmenu-637366"><span class="menu-label"> Development
                                        activity </span><span class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-637366" class="sub-menu-level3">
                                    <li class="" rel="subsubmenu-627011">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/activity_in_sa/development_activity/development_maps?SQ_ENVIRONMENT=dev" id="subsubmenu-627011">
                                            <span class="menu-label"> Development maps </span>
                                            <div class="menu-label-desc"> Browse interactive maps to see new developments in your area </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-648879">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/activity_in_sa/development_activity/static_information_page?SQ_ENVIRONMENT=dev" id="subsubmenu-648879">
                                            <span class="menu-label"> Static Information Page </span>
                                            <div class="menu-label-desc"> Static Information Page </div>
                                        </a>

                                    </li>
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/activity_in_sa/development_activity?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in Development activity </span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item" rel="submenu-622845">

                                <a href="https://dpti.sa.gov.au/saplanningportal/activity_in_sa/land_and_housing?SQ_ENVIRONMENT=dev" id="submenu-622845" rel="subsubmenu-622845"><span class="menu-label"> Land and
                                        housing </span><span class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-622845" class="sub-menu-level3">
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/activity_in_sa/land_and_housing?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in Land and housing </span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item" rel="submenu-620621">

                                <a href="https://dpti.sa.gov.au/saplanningportal/activity_in_sa/population?SQ_ENVIRONMENT=dev" id="submenu-620621" rel="subsubmenu-620621"><span class="menu-label"> Population
                                    </span><span class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-620621" class="sub-menu-level3">
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/activity_in_sa/population?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in Population </span></a></li>
                                </ul>
                            </li>
                        </ul>

                        <div class="sub-menu-level3-container col-4"></div>

                        <div class="level1-tools col-4">
                            <h2>Tools</h2>
                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item nav-item dropdown" rel="menu-623795" id="menu623795" tabindex="0">
                <a style="color: white !important;" href="https://dpti.sa.gov.au/saplanningportal/have_your_say?SQ_ENVIRONMENT=dev" rel="submenu-623795">
                    Have your say <span class="arrow-down-icon"><svg data-fa-pseudo-element=":after" data-prefix="fas"
                            data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                            </path>
                        </svg></span>
                </a>

                <div class="container dropdown-menu dropdown-menu-wide">
                    <!-- 2nd level start -->
                    <button class="mbtn-close float-right" type="button">×</button>
                    <div class="row">
                        <ul id="submenu-623795" class="sub-menu-level2  col-4">
                            <li class="dropdown-item" rel="submenu-626893">

                                <a href="https://dpti.sa.gov.au/saplanningportal/have_your_say/planning_amendments?SQ_ENVIRONMENT=dev" id="submenu-626893" rel="subsubmenu-626893"><span class="menu-label"> Planning
                                        amendments </span><span class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-626893" class="sub-menu-level3">
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/have_your_say/planning_amendments?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in Planning amendments </span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item" rel="submenu-627956">

                                <a href="https://dpti.sa.gov.au/saplanningportal/have_your_say/development_map?SQ_ENVIRONMENT=dev" id="submenu-627956" rel="subsubmenu-627956"><span class="menu-label"> Public notices
                                    </span><span class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-627956" class="sub-menu-level3">
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/have_your_say/development_map?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in Public notices </span></a></li>
                                </ul>
                            </li>
                        </ul>

                        <div class="sub-menu-level3-container col-4"></div>

                        <div class="level1-tools col-4">
                            <h2>Tools</h2>
                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item nav-item dropdown" rel="menu-625561" id="menu625561" tabindex="0">
                <a style="color: white !important;" href="https://dpti.sa.gov.au/saplanningportal/for_practitioners?SQ_ENVIRONMENT=dev" rel="submenu-625561">
                    Industry and practitioners <span class="arrow-down-icon"><svg data-fa-pseudo-element=":after"
                            data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14"
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                            </path>
                        </svg></span>
                </a>

                <div class="container dropdown-menu dropdown-menu-wide">
                    <!-- 2nd level start -->
                    <button class="mbtn-close float-right" type="button">×</button>
                    <div class="row">
                        <ul id="submenu-625561" class="sub-menu-level2  col-4">
                            <li class="dropdown-item" rel="submenu-649348">

                                <a href="https://dpti.sa.gov.au/saplanningportal/for_practitioners/accreditation?SQ_ENVIRONMENT=dev" id="submenu-649348" rel="subsubmenu-649348"><span class="menu-label"> Accreditation
                                    </span><span class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-649348" class="sub-menu-level3">
                                    <li class="" rel="subsubmenu-614418">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/for_practitioners/accreditation/accredited_professionals_scheme?SQ_ENVIRONMENT=dev" id="subsubmenu-614418">
                                            <span class="menu-label"> Accredited Professionals Scheme </span>
                                            <div class="menu-label-desc"> Accredited Professionals Scheme </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-603454">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/for_practitioners/accreditation/accredited_professionals_register?SQ_ENVIRONMENT=dev" id="subsubmenu-603454">
                                            <span class="menu-label"> Accredited Professionals Register </span>
                                            <div class="menu-label-desc"> Accredited Professionals Register </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-605604">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/for_practitioners/accreditation/become_an_accredited_professional?SQ_ENVIRONMENT=dev" id="subsubmenu-605604">
                                            <span class="menu-label"> Become an Accredited Professional </span>
                                            <div class="menu-label-desc"> Become an Accredited Professional </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-627942">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/for_practitioners/accreditation/audits_and_complaints?SQ_ENVIRONMENT=dev" id="subsubmenu-627942">
                                            <span class="menu-label"> Audits and complaints </span>
                                            <div class="menu-label-desc"> Audits and complaints </div>
                                        </a>

                                    </li>
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/for_practitioners/accreditation?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in Accreditation </span></a></li>
                                </ul>
                            </li>
                        </ul>

                        <div class="sub-menu-level3-container col-4"></div>

                        <div class="level1-tools col-4">
                            <h2>Tools</h2>
                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item nav-item dropdown" rel="menu-626491" id="menu626491" tabindex="0">
                <a style="color: white !important;" href="https://dpti.sa.gov.au/saplanningportal/about?SQ_ENVIRONMENT=dev" rel="submenu-626491">
                    About <span class="arrow-down-icon"><svg data-fa-pseudo-element=":after" data-prefix="fas"
                            data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                            </path>
                        </svg></span>
                </a>

                <div class="container dropdown-menu dropdown-menu-wide">
                    <!-- 2nd level start -->
                    <button class="mbtn-close float-right" type="button">×</button>
                    <div class="row">
                        <ul id="submenu-626491" class="sub-menu-level2  col-4">
                            <li class="dropdown-item" rel="submenu-634508">

                                <a href="https://dpti.sa.gov.au/saplanningportal/about/this_website?SQ_ENVIRONMENT=dev" id="submenu-634508" rel="subsubmenu-634508"><span class="menu-label"> This website
                                    </span><span class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-634508" class="sub-menu-level3">
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/about/this_website?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in This website </span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item" rel="submenu-637502">

                                <a href="https://dpti.sa.gov.au/saplanningportal/about/planning?SQ_ENVIRONMENT=dev" id="submenu-637502" rel="subsubmenu-637502"><span class="menu-label"> Planning
                                    </span><span class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-637502" class="sub-menu-level3">
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/about/planning?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in Planning </span></a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item" rel="submenu-648302">

                                <a href="https://dpti.sa.gov.au/saplanningportal/about/planning_reform?SQ_ENVIRONMENT=dev" id="submenu-648302" rel="subsubmenu-648302"><span class="menu-label"> Planning
                                        reform </span><span class="mobile-arrow-right-icon  float-right"><svg
                                            data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></a>
                                <!-- 3rd level start -->
                                <ul id="subsubmenu-648302" class="sub-menu-level3">
                                    <li class="" rel="subsubmenu-648332">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/about/planning_reform/what_is_being_reformed?SQ_ENVIRONMENT=dev" id="subsubmenu-648332">
                                            <span class="menu-label"> PDI Act changes </span>
                                            <div class="menu-label-desc"> What is being reformed from the current planning system and how you may be affected </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-648309">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/about/planning_reform/implementation?SQ_ENVIRONMENT=dev" id="subsubmenu-648309">
                                            <span class="menu-label"> Implementation </span>
                                            <div class="menu-label-desc"> Track the progress of our phased implementation towards 2020 </div>
                                        </a>

                                    </li>
                                    <li class="" rel="subsubmenu-648318">
                                        <a href="https://dpti.sa.gov.au/saplanningportal/about/planning_reform/new_tools_and_schemes?SQ_ENVIRONMENT=dev" id="subsubmenu-648318">
                                            <span class="menu-label"> New tools and schemes </span>
                                            <div class="menu-label-desc"> Description goes here about learning about the individual tools and schemes under the PDI Act </div>
                                        </a>

                                    </li>
                                    <li><a href="https://dpti.sa.gov.au/saplanningportal/about/planning_reform?SQ_ENVIRONMENT=dev"><span
                                                class="menu-label">See All in Planning reform </span></a></li>
                                </ul>
                            </li>
                        </ul>

                        <div class="sub-menu-level3-container col-4"></div>

                        <div class="level1-tools col-4">
                            <h2>Tools</h2>
                        </div>

                    </div>
                </div>
            </li>
            <li class="list-group-item nav-item dropdown" rel="menu-639059" id="menu639059" tabindex="0">
                <a style="color: white !important;" href="https://dpti.sa.gov.au/saplanningportal/news?SQ_ENVIRONMENT=dev" rel="submenu-639059">
                    News <span class="arrow-down-icon"><svg data-fa-pseudo-element=":after" data-prefix="fas"
                            data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                            </path>
                        </svg></span>
                </a>

                <div class="container dropdown-menu dropdown-menu-wide">
                    <!-- 2nd level start -->
                    <button class="mbtn-close float-right" type="button">×</button>
                    <div class="row">
                        <ul id="submenu-639059" class="sub-menu-level2  col-4">
                        </ul>

                        <div class="sub-menu-level3-container col-4"></div>

                        <div class="level1-tools col-4">
                            <h2>Tools</h2>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </nav>



    <div class="navbar-menu collapse d-md-none d-lg-none col-12 px-0" id="navbarMenu">
        <div id="left" class="menu-container">
            <div class="backmenu">
                <span class="label-1">
                    <span class="circle-icon"><span class="mobile-arrow-left-icon"><svg data-fa-pseudo-element=":after"
                                data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8"
                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z">
                                </path>
                            </svg></span></span>Back to menu
                </span>
            </div>
            <ul class="nav menu">
                <li class="item-1">
                    <a class="anchorA d-block">
                        <span class="label-1">Home</span>
                        <span class="sign float-right"><span class="mobile-arrow-right-icon"><svg
                                    data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                    class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                    </path>
                                </svg></span> </span>
                    </a>
                </li>
            </ul>
            <ul class="nav menu">
                <li class="item-1">
                    <a class="anchorA d-block" data-toggle="collapse" data-parent="#menu-group-1" href="#development_application">
                        <span class="label-1">Development Application</span>
                        <span class="sign float-right"><span class="mobile-arrow-right-icon"><svg
                                    data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                    class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                    </path>
                                </svg></span></span>
                    </a>
                    <ul class="sub-menu collapse" id="development_application">
                        <li class="item-2">
                            <a class="d-block py-auto pt-2" href="#sub-item-3">
                                <span class="label-2">Getting Approval</span>
                                <span data-toggle="collapse" class="sign float-right"><span
                                        class="mobile-arrow-right-icon"><svg data-fa-pseudo-element=":after"
                                            data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></span>
                            </a>
                        </li>
                        <li class="item-2">
                            <a class="d-block py-auto pt-2" href="#sub-item-4">
                                <span data-toggle="collapse" class="sign float-right"><span
                                        class="mobile-arrow-right-icon"><svg data-fa-pseudo-element=":after"
                                            data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></span>
                                <span class="label-2">Lodge an application</span>
                            </a>
                        </li>
                        <li class="item-2">
                            <a class="d-block py-auto pt-2" href="#sub-item-5">
                                <span data-toggle="collapse" class="sign float-right"><span
                                        class="mobile-arrow-right-icon"><svg data-fa-pseudo-element=":after"
                                            data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></span>
                                <span class="label-2">Track an application</span>
                            </a>
                        </li>
                        <li class="item-2">
                            <a class="d-block py-auto py-2" href="#sub-item-6">
                                <span data-toggle="collapse" class="sign float-right"><span
                                        class="mobile-arrow-right-icon"><svg data-fa-pseudo-element=":after"
                                            data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></span>
                                <span class="label-2">Help &amp; Support</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

            <ul class="innermenu">
                <li class="item-3">
                    <a class="sub-lbl">
                        <span class="label-1">See all in Getting approval</span>
                    </a>
                </li>
                <li class="item-3">
                    <a class="sub-lbl">
                        <span class="label-3">Types of approval</span>
                    </a>
                </li>
                <li class="item-3">
                    <a class="sub-lbl">
                        <span class="label-3">Rules that apply to your property</span>
                    </a>
                </li>
                <li class="item-3">
                    <a class="sub-lbl">
                        <span class="label-3">Find out if you need approval</span>
                    </a>
                </li>
            </ul>



            <ul class="nav menu">
                <li class="item-1">
                    <a class="anchorA d-block" data-toggle="collapse" data-parent="#menu-group-1" href="#activity_in_sa">
                        <span class="label-1">Activity in SA</span>
                        <span class="sign float-right"><span class="mobile-arrow-right-icon"><svg
                                    data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                    class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                    </path>
                                </svg></span></span>
                    </a>
                    <ul class="sub-menu collapse" id="activity_in_sa">
                        <li class="item-2">
                            <a class="d-block py-auto pt-2" href="#sub-item-3">
                                <span class="label-2">AS Getting Approval</span>
                                <span data-toggle="collapse" class="sign float-right"><span
                                        class="mobile-arrow-right-icon"><svg data-fa-pseudo-element=":after"
                                            data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></span>
                            </a>
                        </li>
                        <li class="item-2">
                            <a class="d-block py-auto pt-2" href="#sub-item-4">
                                <span data-toggle="collapse" class="sign float-right"><span
                                        class="mobile-arrow-right-icon"><svg data-fa-pseudo-element=":after"
                                            data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></span>
                                <span class="label-2">AS Lodge an application</span>
                            </a>
                        </li>
                        <li class="item-2">
                            <a class="d-block py-auto pt-2" href="#sub-item-5">
                                <span data-toggle="collapse" class="sign float-right"><span
                                        class="mobile-arrow-right-icon"><svg data-fa-pseudo-element=":after"
                                            data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></span>
                                <span class="label-2">AS Track an application</span>
                            </a>
                        </li>
                        <li class="item-2">
                            <a class="d-block py-auto py-2">
                                <span data-toggle="collapse" class="sign float-right"><span
                                        class="mobile-arrow-right-icon"><svg data-fa-pseudo-element=":after"
                                            data-prefix="fas" data-icon="angle-right"
                                            class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                            </path>
                                        </svg></span></span>
                                <span class="label-2">AS Help &amp; Support</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>


            <ul class="innermenu">
                <li class="item-3">
                    <a class="sub-lbl">
                        <span class="label-1">AS See all in Getting approval</span>
                    </a>
                </li>
                <li class="item-3">
                    <a class="sub-lbl">
                        <span class="label-3">AS Types of approval</span>
                    </a>
                </li>
                <li class="item-3">
                    <a class="sub-lbl">
                        <span class="label-3">AS Rules that apply to your property</span>
                    </a>
                </li>
                <li class="item-3">
                    <a class="sub-lbl">
                        <span class="label-3">AS Find out if you need approval</span>
                    </a>
                </li>
            </ul>

            <ul class="nav menu">
                <li class="item-1">
                    <a class="anchorA d-block">
                        <span class="label-1">Have Your Say</span>
                        <span class="sign float-right"><span class="mobile-arrow-right-icon"><svg
                                    data-fa-pseudo-element=":after" data-prefix="fas" data-icon="angle-right"
                                    class="svg-inline--fa fa-angle-right fa-w-8" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                    </path>
                                </svg></span></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<script>
    var elements = document.getElementsByClassName('menu-loader');
    while (elements.length > 0) {
        elements[0].parentNode.removeChild(elements[0]);
    }
</script>



<div id="blankme"></div>

<section id="homesection" class="homesection">
    <div class="container">
        <div class="row_redman">