<title>SA Planning Portal</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="google-translate-customization" content="ec6c35b0ebd7dc92-744363907fe3e83b-g033a83aeda8c2f98-10" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="dcterms.title" content="DPTI South Australia Planning Portal | SA Planning Portal" />
<meta name="dcterms.language" content="dcterms.RFC4646; en-AU" />
<meta name="dcterms.publisher" content="scheme=AGLSTERMS.AglsAgent; corporateName=Department of Planning, Transport and Infrastructure; address=50 Flinders Street, Adelaide, SA 5001; contact=+61 1800 752 664" />
<meta name="dcterms.creator" content="scheme=AGLSTERMS.AglsAgent; corporateName=Department of Planning, Transport and Infrastructure; address=50 Flinders Street, Adelaide, SA 5001; contact=+61 1800 752 664" />
<meta name="dcterms.identifier" content="https://www.saplanningportal.sa.gov.au/home" />
<meta name="dcterms.modified" content="08 Feb 2019 12:19pm" />
<meta name="dcterms.created" content="11 Oct 2016 11:49am" />
<meta name="dcterms.description" content="Your one-stop destination for planning in South Australia, including tools, information and updates on our new planning system." />
<meta name="Description" content="Your one-stop destination for planning in South Australia, including tools, information and updates on our new planning system." />


<link href="https://fonts.googleapis.com">
<link href="https://ajax.googleapis.com">
<link href="https://maxcdn.bootstrapcdn.com">
<link href="https://kit-free.fontawesome.com">

<link rel="stylesheet" href="https://dpti.sa.gov.au/saplanningportal/design/css/dev/lib.css">

<!--<link defer href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" date-file="bootstrap.min.css">-->
<!--<link defer type='text/css' rel='Stylesheet' href='./getCmn.aspx?cID=SNCNU9' />-->